.navigation {
    background-color: rgb(23, 221, 33);
}

.navigation div {
    display: inline-block;
}

// .left-buttons {
//     // display: inline-block;
//     float: left;
//     // margin-left: 200px;
// }

// .right-buttons {
//     // display: inline-block;
//     float: right;
//     // margin-right: 200px;
// }

.move-right {
    margin-left: 200px;
}

.navigation button {
    color: white;
    padding: 5px;
    margin: 2px;
    background-color: rgb(10, 133, 27);
}

.welcome-message {
    margin-left: 10px;
}

// Style children
// :host :ng-deep (list children)